/target
/db
/data
**/.DS_Store
.secrets.yaml
/.vite
**/__pycache__
**/*.pyc
**/_version.py
**/.venv/
ansible/inventory/hosts.yml
.claude/settings.local.json
offload-agent-macos-*
oai/.buildx-cache/*
agent_v2/ui-server/frontend/node_modules
**/frontend/dist
agent_v2/**/build/
agent_v2/**/dist/
agent_v2/**/*.spec
agent_v2/installer-out/
oai/.buildx-cache-new/*