/target
/db
/data
**/.DS_Store
.secrets.yaml
/.vite
**/__pycache__
**/*.pyc
offload-agent/app/_version.py
ansible/inventory/hosts.yml
.claude/settings.local.json
offload-agent-macos-*
oai/.buildx-cache/*
agent_v2/ui-server/frontend/node_modules
**/frontend/dist
**/dist
**.spec
**/build
